dev {{ vpn_mode }}
remote 192.168.56.10 {{ vpn_port }}
ifconfig {{ client_tunnel_ip }} {{ subnet_mask }}
topology subnet
route 192.168.56.0 255.255.255.0
secret /etc/openvpn/static.key
comp-lzo
status /var/log/openvpn-status.log
log /var/log/openvpn.log
verb 3
