server:
  http_listen_address: 127.0.0.1
  http_listen_port: 9080
  grpc_listen_port: 0

positions:
  filename: /var/lib/promtail/positions.yml

clients:
  - url: http://{{ logging_service_ip }}:{{ loki_port | default(3100) }}/loki/api/v1/push

scrape_configs:
  - job_name: system
    static_configs:
      - targets: [localhost]
        labels:
          job: system
          host: "{{ inventory_hostname }}"
          __path__: /var/log/syslog
      - targets: [localhost]
        labels:
          job: system
          host: "{{ inventory_hostname }}"
          __path__: /var/log/auth.log
      - targets: [localhost]
        labels:
          job: system
          host: "{{ inventory_hostname }}"
          __path__: /var/log/kern.log
      - targets: [localhost]
        labels:
          job: system
          host: "{{ inventory_hostname }}"
          __path__: /var/log/ufw.log

  - job_name: nginx
    static_configs:
      - targets: [localhost]
        labels:
          job: nginx
          host: "{{ inventory_hostname }}"
          __path__: /var/log/nginx/*.log

  - job_name: mysql
    static_configs:
      - targets: [localhost]
        labels:
          job: mysql
          host: "{{ inventory_hostname }}"
          __path__: /var/log/mysql/*.log

  - job_name: php_fpm
    static_configs:
      - targets: [localhost]
        labels:
          job: php-fpm
          host: "{{ inventory_hostname }}"
          __path__: /var/log/php*-fpm.log

  - job_name: loki
    static_configs:
      - targets: [localhost]
        labels:
          job: loki
          host: "{{ inventory_hostname }}"
          __path__: /var/log/loki/*.log

  - job_name: grafana
    static_configs:
      - targets: [localhost]
        labels:
          job: grafana
          host: "{{ inventory_hostname }}"
          __path__: /var/log/grafana/*.log
