[Unit]
Description=Run Restic Backup {{ restic_label }} Hourly
Requires=restic-backup-{{ restic_label }}.service

[Timer]
OnCalendar=hourly
RandomizedDelaySec=300
Persistent=true

[Install]
WantedBy=timers.target
