#!/bin/bash
set -euo pipefail

export RESTIC_PASSWORD_FILE="/etc/restic_password"
RESTIC_REPO="rest:http://{{ restic_server_user }}:{{ restic_server_password }}@10.10.10.40:8000/{{ restic_label }}"

restic backup \
  --repo "$RESTIC_REPO" \
  --tag frontend \
  --exclude-caches \
  /etc/nginx \
  /etc/ssl/certs/lab.crt \
  /etc/ssl/private/lab.key \
  >> /var/log/restic_backup_frontend.log 2>&1

restic forget --repo "$RESTIC_REPO" --keep-hourly 24 --keep-daily 7 --keep-weekly 4 --prune
