[defaults]
host_key_checking = False
inventory = hosts
remote_user = vagrant
stdout_callback = yaml
bin_ansible_callbacks = True

[ssh_connection]
ssh_args = -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
